<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
        
        <property name="hbm2ddl.auto">update</property>
       
        

	
	
		<mapping class="domain.Source"></mapping>
		<mapping class="domain.Present"></mapping>
		<mapping class="domain.Conect"></mapping>
		<mapping class="domain.Type"></mapping>
		<mapping class="domain.Ter"></mapping>
		<mapping class="domain.Valid"></mapping>
		<mapping class="domain.Mo"></mapping>
		<mapping class="domain.Hsp"></mapping>
 		<mapping class="domain.Cause"></mapping>
 		<mapping class="domain.Rectif1"></mapping>
 		<mapping class="domain.Rectif2"></mapping>
 		<mapping class="domain.Rectif3"></mapping>
 		<mapping class="domain.Rectif4"></mapping>
 		<mapping class="domain.Insur"></mapping>
 		<mapping class="domain.BlockGER2016"></mapping>
 		<mapping class="domain.blOutboindLETTER2016"></mapping>
 		<mapping class="domain.Outboundmany"></mapping>
 		<mapping class="domain.Callnight_markerday"></mapping>
 		<mapping class="domain.Calendar"></mapping>
 			<mapping class="domain.Petit"></mapping>
 			<mapping class="domain.CdrQuery"></mapping>
 		
	</session-factory>
</hibernate-configuration>


