img {
    -webkit-transition: 2s 0s;
}
.tfoms{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  height: 70px;
  margin-left:10px;
}

.sim{
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  height: 50px;
  vertical-align: super;
  margin-left:10px;
}
.ro{
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  height: 50px;
  vertical-align: super;
  margin-left:10px;
}

.in{
	-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  height: 60px;
  vertical-align: baseline;
  margin-left:10px;
}



.sim2{
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
-o-filter: none;
filter: none;
height: 50px;
vertical-align: super;
margin-left:10px;
  
}

.sim:hover{
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
-o-filter: none;
filter: none;
height: 50px;
vertical-align: super;
margin-left:10px;
}

.ro2{
	-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
-o-filter: none;
filter: none;
height: 50px;
margin-left:10px;
vertical-align: super;
	
 -webkit-box-shadow: 2px 2px 5px 0px rgba(197, 11, 11, 1);
-moz-box-shadow: 2px 2px 5px 0px rgba(197, 11, 11, 1);
box-shadow: 2px 2px 5px 0px rgba(197, 11, 11, 1);
}

.ro:hover{
	-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
-o-filter: none;
filter: none;
height: 50px;
margin-left:10px;
vertical-align: super;
	
 -webkit-box-shadow: 2px 2px 5px 0px rgba(197, 11, 11, 1);
-moz-box-shadow: 2px 2px 5px 0px rgba(197, 11, 11, 1);
box-shadow: 2px 2px 5px 0px rgba(197, 11, 11, 1);
}

.in2{
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
-o-filter: none;
filter: none;
height: 60px;
  margin-left:10px;
}

.in:hover{
	-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
-o-filter: none;
filter: none;
height: 60px;
  margin-left:10px;
}

.tfoms2{
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
-o-filter: none;
filter: none;
height: 70px;
  margin-left:10px;
}

.tfoms:hover{
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
-o-filter: none;
filter: none;
height: 70px;
  margin-left:10px;
}

#main-menu{
	//width:100%;
	//height:100%;
	background-color: #EAEAEA;
	overflow:hidden;
	background: -webkit-linear-gradient(left, rgb(23, 117, 223) 0%, rgb(123, 156, 214) 20%, rgb(217, 217, 217) 80%, rgb(109, 106, 93) 100%);
	background: -o-linear-gradient(left, rgb(23, 117, 223) 0%, rgb(123, 156, 214) 20%, rgb(217, 217, 217) 80%, rgb(109, 106, 93) 100%);
	background: -moz-linear-gradient(left, rgb(23, 117, 223) 0%, rgb(123, 156, 214) 20%, rgb(217, 217, 217) 80%, rgb(109, 106, 93) 100%);
	background: -moz-linear-gradient(left, rgb(23, 117, 223) 0%, rgb(123, 156, 214) 20%, rgb(217, 217, 217) 80%, rgb(109, 106, 93) 100%);
	background: -webkit-linear-gradient(left, rgb(23, 117, 223) 0%, rgb(123, 156, 214) 20%, rgb(217, 217, 217) 80%, rgb(109, 106, 93) 100%);
    //background-attachment:fixed;
}
#main-menu:hover{
//	background-color:#C5BE1E;
}