
.register{
    padding: 0;
    margin: 0;
    border: 0;
}
.register{
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    margin:10px;
    border: 1px solid #ABDA0F
}
.register {
    font-size: 70%;
}
p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
.register h1 {
	text-transform: none;
	text-align: left;
    font-weight:200;
    color: #888888;
    font-size:12pt;
    background: transparent url(../images/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
    font-weight: bold;
    margin-bottom: 26px;
    margin-top: 26px
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
form.register{
    width:800px;
    margin: 20px auto 0px 20px;;
    height:600px;
    background-color:#fff;
    padding:5px;
    border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow:
        0px 5px 5px rgba(0, 0, 0, 0.74), inset 0px 1px 0px rgba(38, 43, 37, 0.5);
    opacity: 0.93;
    overflow: auto;
}


 .register p{
    font-size: 9pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
form.register fieldset.row1
{
    width:770px;
    padding:5px;
    float:left;
    border:1px solid #fff;
    margin-bottom:15px;
}
form.register fieldset.row777
{
    width:770px;
    padding:5px;
    float:left;
    border:1px solid #fff;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register fieldset.row1 label{
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register fieldset.row2
{
    border:1px solid #fff;
    border-top: 1px solid #BDDA0F;
   // height:220px;
    padding:5px;
    float:left;
    margin-bottom:15px;
}
form.register fieldset.row3
{
    border:1px solid #FFF;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width:400px;
}
form.register fieldset.row4
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:500px;
}
form.register .infobox{
    float:right;
    margin-top:20px;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:380px;
    height:98px;
    font-size:9px;
    background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}
form.register legend
{
    color: #658400;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}
form.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
form.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}
form.register input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 5px;
}
form.register input.long{
    width: 247px;
    color: #505050;
}
form.register input.short{
    width: 40px;
    color: #505050;
}
form.register input[type=radio]
{
    float:left;
    width:15px;
}
form.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
form.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
.button
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin:10px;
}
form.register input[type=text].year
{
    border: 1px solid #E1E1E1;
    height: 18px;
    width:30px;
}
form.register input[type=checkbox] {
    width:14px;
    margin-top:4px;
}
form.register select
{
    border: 1px solid #E1E1E1;
    width: 144px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
form.register select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}

 .inputs #submit,#submit {
	 float:left;
    width: 40%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

 .inputs #submit:hover,#submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}



/***************************************/

.foreditbackgr{
    padding: 0;
    margin: 0;
    border: 0;
}
.foreditbackgr{
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    margin:10px;
    border: 1px solid #ABDA0F
}
.foreditbackgr {
    font-size: 70%;
}
p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
.foreditbackgr h1 {
	text-transform: none;
	text-align: left;
    font-weight:200;
    color: #888888;
    font-size:12pt;
    background: transparent url(../images/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
    font-weight: bold;
    margin-bottom: 26px;
    margin-top: 26px
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
form.foreditbackgr{
    width:800px;
    margin: 20px auto 0px 20px;;
    height:600px;
    background-color:#9AFFAA;
    padding:5px;
    border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow:
        0px 5px 5px rgba(0, 0, 0, 0.74), inset 0px 1px 0px rgba(38, 43, 37, 0.5);
    opacity: 0.93;
    overflow: auto;
}


 .foreditbackgr p{
    font-size: 9pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
form.foreditbackgr fieldset.row1
{
    width:770px;
    padding:5px;
    float:left;
    border:1px solid #fff;
    margin-bottom:15px;
}
form.foreditbackgr fieldset.row777
{
    width:770px;
    padding:5px;
    float:left;
    border:1px solid #fff;
    margin-bottom:15px;
}
form.foreditbackgr fieldset.row1 label{
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.foreditbackgr fieldset.row1 label{
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.foreditbackgr fieldset.row2
{
    border:1px solid #fff;
    border-top: 1px solid #BDDA0F;
   // height:220px;
    padding:5px;
    float:left;
    margin-bottom:15px;
}
form.foreditbackgr fieldset.row3
{
    border:1px solid #FFF;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width:400px;
}
form.foreditbackgr fieldset.row4
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:500px;
}
form.foreditbackgr .infobox{
    float:right;
    margin-top:20px;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:380px;
    height:98px;
    font-size:9px;
    background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}
form.foreditbackgr legend
{
    color: #658400;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}
form.foreditbackgr label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.foreditbackgr label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
form.foreditbackgr label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}
form.foreditbackgr input{
    width: 140px;
    color: #505050;
    float: left;
    margin-right: 5px;
}
form.foreditbackgr input.long{
    width: 247px;
    color: #505050;
}
form.foreditbackgr input.short{
    width: 40px;
    color: #505050;
}
form.foreditbackgr input[type=radio]
{
    float:left;
    width:15px;
}
form.foreditbackgr label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.foreditbackgr input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
form.foreditbackgr input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}
.button
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin:10px;
}
form.foreditbackgr input[type=text].year
{
    border: 1px solid #E1E1E1;
    height: 18px;
    width:30px;
}
form.foreditbackgr input[type=checkbox] {
    width:14px;
    margin-top:4px;
}
form.foreditbackgr select
{
    border: 1px solid #E1E1E1;
    width: 144px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
form.foreditbackgr select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}

 .inputs #submit,#submit {
	 float:left;
    width: 40%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

 .inputs #submit:hover,#submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}


