

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
 .tbl-header table,.tbl-content table{
  width:100%;
  table-layout: auto;
  font-family: 'Roboto', sans-serif;
  //font-family: Verdana, sans-serif;
  
}

.tbl-header{
  //background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 2px;
  //border: 2px solid rgba(255,255,255,0.3);
}
.tbl-header th{
  padding: 10px 10px;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.tbl-content th{
	padding: 10px 10px;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}



.tbl-header th,.tbl-header th{
	background-color: #8211EF;
	
}

.tbl-content td,.tbl-content th{
	background-color: rgb(230, 231, 236);	
	
}



//tr:nth-child(even) {background-color: #f2f2f2}
.tbl-header td,.tbl-content th{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(255,255,255,0.9);
}
.tbl-content th{
	color: #0000;
	padding: 10px;
	font-weight: 300;
}

/* demo styles */

section{
  margin: 50px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-o-scrollbar {
    width: 6px;
} 
::-o-scrollbar-track {
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
::-o-scrollbar-thumb {
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


.tabmy thead { 
    background: -webkit-linear-gradient(left, rgb(0, 0, 0) 0%, rgb(130, 135, 140) 20%, rgb(148, 190, 239) 80%, rgb(0, 103, 220) 100%);
    background: -o-linear-gradient(left, rgb(0, 0, 0) 0%, rgb(130, 135, 140) 20%, rgb(148, 190, 239) 80%, rgb(0, 103, 220) 100%); 
    background: -moz-linear-gradient(left, rgb(0, 0, 0) 0%, rgb(130, 135, 140) 20%, rgb(148, 190, 239) 80%, rgb(0, 103, 220) 100%);
    background-attachment:fixed;}

.tabmy thead tr, .tabmy thead th { background:transparent; }

.someclass td{
	background-color: #D0BF0F;
	font-weight: 300;
}

.someclass2 td{
	background-color: #E4DD8C;
	font-weight: 300;
}

.someclass3 td{
	background-color: #e5e5e5;
	font-weight: 300;
}

.tbl-content th #iddel{
	color: #E80404;
}

.tbl-content th:nth-child(17)  {
   width:30px;
   font-size: 9px; 
}

.tbl-content th:nth-child(16)  {
   width:30px;
   font-size: 9px; 
}

/*
.css-input {
 font-size:12px;
  border-color:#cccccc; 
  border-radius:7px;
  border-width:1px;
  border-style:groove; 
  background-color:#ffffff; 
  color:#000000; 
  font-weight:bold; 
  box-shadow: 1px 0px 3px 0px rgba(112,108,112,.64); 
  font-style:italic; 
  font-family:monospace; 
  padding:5px; 
  text-align:center; 
  text-shadow:0px 0px 0px rgba(42,42,42,.75);
 } 
 .css-input:focus { outline:none; } 
		 
 .css-input:hover{
 border-color:#fff;
 }*/
 
 .secondtab{
 width:100%;
 border-spacing: 1px;
 }
 .secondtab thead{
 background: -webkit-linear-gradient(left, rgb(0, 0, 0) 0%, rgb(130, 135, 140) 20%, rgb(148, 190, 239) 80%, rgb(0, 103, 220) 100%);
    background-attachment: fixed;
 background: -o-linear-gradient(left, rgb(0, 0, 0) 0%, rgb(130, 135, 140) 20%, rgb(148, 190, 239) 80%, rgb(0, 103, 220) 100%);
 background-attachment: fixed;
 background: -moz-linear-gradient(left, rgb(0, 0, 0) 0%, rgb(130, 135, 140) 20%, rgb(148, 190, 239) 80%, rgb(0, 103, 220) 100%);
 background-attachment: fixed;
 background-attachment: fixed;
 }
 .secondtab thead th {
  width: 100px;
  border-bottom: solid 1px #ddd;
  font-weight: bold;
  padding:10px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  }
  
  .secondtab tbody td {
  text-align:center;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  padding:8px;
  
  }
  
  .secondtab td #iddel{
	color: #E80404;
  }
  
   .secondtab  td:nth-child(-n+9){
    font-size: 10px;
    //width: 20px;
    white-space: nowrap;
   }
   
     .secondtab  td:nth-child(n+10){
    //font-size: 20px;
    font-size: 10px;
    width: 1%;
   }
  
 .secondtab tbody:nth-child(odd) { background: #f5f5f5;  border: solid 1px #ddd; }
 .secondtab tbody:nth-child(even) { background: #e5e5e5;  border: solid 1px #ddd; }
 
 .noactive{
 font-size: 15px;
 
 }